@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: #2c3639;
    --cor-secundaria: #dcd7c9;
    --cor-terciaria: #a27b5c;
    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif;
}

.body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.container {
    display: flex;
    text-align: center;
    padding-bottom: 7em;

}



.imagem__projetos {
    width: 50%;
    border: solid 2px;
    border-radius: 10px;
    margin: 0 2em 1em 4em;
    border: 2em;
    cursor: pointer;
}

.apresentacao__conteudo__titulo {
    color: var(--cor-secundaria);
}

.titulo__projetos {
    color: var(--cor-secundaria);
    font-size: var(--fonte-secundaria);
    font-size: 48px;
}

.titulo__projetos a {
    text-decoration: none;
    color: inherit;
    
}

.container__descricao {
    width: 50%;
    padding: 0 5em ;
    display: flex;
    flex-direction: column;
    align-self: center;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.descricao {
    font-size: 22px;
}

.terceira-tela {
    display: flex;
    justify-content: space-evenly;
}
.obras {
    width: 25%;
    border: solid 2px;
    border-radius: 10px;
    margin: 0 2em 1em 4em;
    border: 2em;
    cursor: pointer;
}
